body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-color: #e5e5ea transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 12px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
  transition: all 1s;
  width: 16px;
}

::-webkit-scrollbar-thumb:hover,
:hover::-webkit-scrollbar-thumb {
  background: #e5e5ea;
  cursor: pointer;
}

#dropBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #9e9e9e;
  cursor: pointer;
  transition: all 300ms;
}
#dropBox:hover {
  border-color: #90caf9;
}

#hiddenInput {
  position: fixed;
  top: -100%;
  right: 100%;
  width: 0;
  height: 0;
  visibility: hidden;
  z-index: -1;
}
